<section>
  <div class="pai">



    <div class="filho1">

      <h1>Your Result</h1>

      <div class="bola">
        <h3>76</h3>
        <p>of 100</p>
      </div>

      <div class="textodepoisdabola">
        <h2>Great</h2>
        <p>Your scored higher than 65% of the people who have take these tests.</p>
      </div>

    </div>


    <div class="filho2">

      <h1>Summary</h1>

      <div class="reaction">
        <img src="assets/icon-reaction.svg"/>
        <p>Reaction</p>
        <p>80</p>
        <p>/ 100</p>
      </div>

      <div class="memory">
        <img src="assets/icon-memory.svg">
        <p>Memory</p>
        <p>92</p>
        <p>/ 100</p>
      </div>

      <div class="verbal">
        <img src="../assets/icon-verbal.svg">
        <p>Verbal</p>
        <p>61</p>
        <p>/ 100</p>
      </div>

      <div class="visual">
        <img src="assets/icon-visual.svg">
        <p>Visual</p>
        <p>72</p>
        <p>/ 100</p>
      </div>

      <button>
        Continue
      </button>

    </div>
  </div>
</section>
